@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes error {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes error-input {
  0% {
    border-color: #d3d3d2;
  }

  100% {
    border-color: #ff0000;
  }
}

body {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visible-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  display: inline-block;
  padding: 12px 42px 14px 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fefefe;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.header {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 9px;
}

/* LOGO */
.logo {
  /*  */
}
.logo__img {
  width: 154px;
  height: auto;
}
/* LOGO */

/* NAV */
.nav {
  margin-left: 9px;
  padding-top: 14px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-dropdown:hover .nav__link {
  color: #333333;

  background-color: #f7f6f3;
}

.nav-dropdown:hover .nav__link::after {
  content: none;
}

.nav__link:hover {
  color: #333333;

  background-color: #f7f6f3;
}

.nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.nav__link--active {
  background-color: #d07058;
}

.nav__link {
  position: relative;

  display: block;
  padding: 6px 14px 6px 14px;

  color: #ffffff;

  border-radius: 18px;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 15px;

  width: calc( 100% - 28px);
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.nav__link--active::after {
  content: none;
}

.nav__link:active::after,
.nav__link:hover::after {
  content: none;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown:hover::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 5px;
}

.nav-dropdown:hover .nav-dropdown__list {
  top: calc(100% + 5px);
  left: -7px;

  display: flex;
  width: 143px;
}

.nav-dropdown__list {
  position: absolute;

  display: none;
  flex-direction: column;
  margin: 0;
  padding: 4px 0 5px;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.nav-dropdown__item {
  display: flex;
}

.nav-dropdown__link {
  display: inline-block;
  width: 100%;
  padding: 7px 20px 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.nav-dropdown__link:hover {
  color: #323232;

  background-color: #fbded7;
}

.nav-dropdown__link:active {
  background-color: #f6b5a5;
}

.nav-dropdown__link--active {
  color: #ffffff;

  background-color: #d07058;
}

.nav-dropdown__item:first-child .nav-dropdown__link {
  position: relative;

  margin-bottom: 7px;

  font-weight: 700;
}

.nav-dropdown__item:first-child {
  position: relative;
}

.nav-dropdown__item:first-child::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 5%;

  width: 90%;
  height: 1px;

  background-color: #d1d0ce;
}
/* NAV */

/* USER-BLOCK */
.user-block {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  padding-top: 20px;
}

.user-block__item {
  position: relative;

  margin-left: 10px;
}

.user-block__link {
  position: relative;

  padding: 7px 16px 7px 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.user-block__link--login,
.user-block__link--basket {
  padding-left: 45px;
}

.user-block__link--search::before,
.user-block__link--login::before,
.user-block__link--basket::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 17px;

  width: 21px;
  height: 19px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block__link--search::before {
  top: 7px;
  left: 6px;

  width: 17px;
  height: 17px;

  background-image: url(../img/svg/loupe.svg);
}
.user-block__item:hover .user-block__link--search::before,
.user-block__link--search:hover::before {
  background-image: url(../img/svg/loupe-black.svg);
}

.user-block__link--login::before {
  background-image: url(../img/svg/entrance-white.svg);
}
.user-block__item:hover .user-block__link--login::before,
.user-block__link--login:hover::before {
  background-image: url(../img/svg/entrance.svg);
}

.user-block__link--basket::before {
  background-image: url(../img/svg/basket.svg);
}
.user-block__item:hover .user-block__link--basket::before,
.user-block__link--basket:hover::before,
.user-block__link--active.user-block__link--basket::before {
  background-image: url(../img/svg/basket-red.svg);
}

.user-block__item:hover .user-block__link,
.user-block__link:hover,
.user-block__link--active {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__search-form,
.user-block__login-form {
  position: absolute;

  display: none;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__login-form .user-block__input {
  margin-bottom: 20px;
}

.user-block__item:hover::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 12px;
}

.user-block__item:hover form {
  top: calc(100% + 12px);
  right: 0;
  z-index: 1;

  display: flex;
  width: 310px;
}

.user-block__item--login:hover .user-block__login-form {
  flex-direction: column;
  width: 240px;
  padding: 20px 18px 20px 20px;
}

.user-block__item:hover .user-block-basket {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 540px;
  padding: 21px 15px 20px;
}

.user-block-login-links {
  flex: 0 1 50%;
  margin: 0;
  margin-left: auto;
}

.user-block-login-links__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid #323232;
}

.user-block__btn {
  flex: 0 1 0;
  padding: 10px 25px;

  font-size: 18px;
  line-height: 24px;
}

.user-block__flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.user-block__input {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 7px 13px 10px 13px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #999999;
  border-radius: 5px;
}

.user-block__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.user-block__input:hover {
  padding: 6px 12px 9px 12px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-block__input:focus {
  padding: 6px 12px 9px 12px;

  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.user-block__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.user-block-basket {
  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__btn-close {
  position: relative;
  top: 0;
  left: 4px;

  width: 11px;
  height: 11px;
  margin-right: 12px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/svg/cross-small.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.user-block-basket__result {
  margin-top: 10px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #323232;
}

.user-block-basket__table {
  display: block;
}

.user-block-basket__cell {
  display: block;
}

.user-block-basket__list {
  display: block;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  border-bottom: 1px solid #cacac7;
}

.user-block-basket__list td {
  padding: 0;
}

.user-block-basket__item {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 17px;
}

.user-block-basket__thumb {
  position: relative;
  top: -3px;

  width: 33px;
  height: auto;
  margin-right: 13px;
}

.user-block-basket__name {
  display: block;
  width: 220px;
  max-width: 220px;
  margin-top: 5px;
  margin-right: 31px;
}

.user-block-basket__price {
  display: block;
  margin-top: 5px;
}

.user-block-basket__weight {
  display: block;
  max-width: 95px;
  margin-top: 5px;
  margin-right: 29px;
}

.user-block-basket__solo-price {
  color: #999999;
}

.user-block-basket__btn {
  align-self: flex-end;
  padding: 10px 14px;

  font-size: 18px;
  line-height: 24px;
}
/* USER-BLOCK */


/* CONTACTS */
.contacts {
  position: absolute;
  top: 58px;
  right: 27px;
}
.contacts__worktime {
  display: block;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts__tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}
/* CONTACTS */

/* DEALS */

.deals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.deals__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.deals__description {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.deals__btn {
  float: right;
  padding: 11px 24px 12px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: none;
}

.deals__item {
  box-sizing: border-box;
  max-width: 560px;
  padding: 13px 20px 21px 18px;

  background-color: #000000;
  background-repeat: repeat;
  border-radius: 15px;
}

.deals__item--raspberries {
  background-image: url("../img/png/raspberries-background.png");
}

.deals__item--chocolate {
  background-image: url("../img/png/chocolate-background.png");
}
/* DEALS */

/* STOCK */
.stock {
  margin-bottom: 37px;
}

.stock--catalog {
  margin-bottom: 36px;
}

.stock-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.stock-list-item {
  position: relative;

  max-width: 266px;

  text-align: center;
}

.stock-list-item__img {
  width: 267px;
  height: auto;
}

.stock-list .stock-list-item:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -14px;
  z-index: 1;

  display: block;
  min-width: 292px;
  height: calc(100% + 18px);
  padding-bottom: 60px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.stock-list-item--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.stock-list--catalog .stock-list-item {
  margin-bottom: 38px;
}

.stock-list .stock-list-item:hover .stock-list-item__link {
  display: block;
}

.stock-list-item__block {
  position: relative;

  margin-bottom: 12px;
}

.stock-list-item-block__weight {
  margin-left: 34px;

  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.stock-list-item-block__weight::before {
  content: url(../img/svg/ruble.svg);
  position: absolute;
  top: 5px;
  right: 40px;

  width: 31px;
  height: 36px;

  filter: drop-shadow(0.5px 0.9px 3px rgba(49, 50, 53, 0.5));
}

.stock-list-item__price {
  position: absolute;
  bottom: 15px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.stock-list-item__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.stock-list--catalog .stock-list-item__description {
  margin: 0 8px;

  text-align: justify;
}

.stock-list-item__description:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.stock-list-item__link {
  position: absolute;
  bottom: -55px;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  padding: 12px 16px;

  font-size: 18px;
  line-height: 24px;

  transform: translateX(-50%);
}
/* STOCK */

/* SLIDER */
.slider {
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-list {
  list-style: none;
}

.slider-list__title {
  width: 700px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.25px;
  text-align: center;
}
/* SLIDER */

/* ABOUT */
.about {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
  padding: 26px 25px 26px 20px;

  background-color: #ffffff;
  background-image: url("../img/png/wafer-background.png");
  background-size: cover;
  border-radius: 25px;
}

.about__title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.about__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  flex: 0 1 535px;
  box-sizing: border-box;
  width: 100%;
  max-width: 535px;
  padding-top: 15px;
  padding-left: 57px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-box-flex: 0;
}

.about__item--ice-cream {
  margin-bottom: 7px;

  background-image: url("../img/svg/ice-cream.svg");
}

.about__item--cow {
  margin-bottom: 7px;

  background-image: url("../img/svg/cow.svg");
}

.about__item--leaf {
  background-image: url("../img/svg/eco.svg");
}

.about__item--thermometer {
  background-image: url("../img/svg/thermometer.svg");
}
/* ABOUT */


/* NEWS */
.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-article {
  box-sizing: border-box;
  width: 100%;
  max-width: 560px;
  padding: 25px 20px;
  padding-bottom: 80px;

  background-color: #ffffff;
  background-image: url("../img/png/strawberry-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.news-article__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.news-article__lead {
  display: block;
  width: 300px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news-article__lead:hover {
  color: #e84d37;

  text-decoration-color: rgba(232, 77, 55, 0.2);
}

.news-subscribe {
  box-sizing: border-box;
  width: 100%;
  max-width: 560px;
  padding: 5px 6px;

  background-color: #f8f7f4;
  background-image: url("../img/svg/bg-post.svg");
  border-radius: 15px;
}

.news-subscribe__background {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 30px 20px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.news-subscribe__description {
  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

/* .news-subscribe__form {
  margin-top: auto;
} */

.news-subscribe__input {
  width: 340px;
  margin-right: 7px;
  padding: 10px 13px 10px 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.news-subscribe__input:hover {
  padding: 9px 12px 9px 12px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.news-subscribe__input:focus {
  padding: 9px 12px 9px 12px;

  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.news-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.news-subscribe__btn {
  padding: 10px 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
/* NEWS */

/* ADDRESS */
.address {
  position: relative;

  width: 100%;
  height: 430px;

  background-image: url(../img/png/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.address__iframe {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 430px;

  border: none;
}

.address-info {
  position: absolute;
  top: 63px;
  left: 50%;
  z-index: 4;

  box-sizing: border-box;
  max-width: 302px;
  padding: 30px 25px;

  background-color: #fefefe;
  border-radius: 15px;
  transform: translateX(270px);
}

.address-info__text {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.address-info__text:first-child {
  margin-bottom: 18px;
}

.address-info__text--bold {
  display: inline-block;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.address__btn {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 27px;

  font-size: 18px;
  line-height: 24px;
  text-shadow: none;
}

.address__img {
  position: absolute;
  /* top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 430px; */
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 100%;
  height: auto;

  transform: translate(-50%, -50%);
}
/* ADDRESS */

/* SOCIAL */
.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  margin-top: 12px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.social__link:hover,
.social__link:active {
  border: 3px solid rgba(255,255,255,0.7);
}

.social__link:hover .social__svg,
.social__link:active .social__svg {
  opacity: 1;
}

.social__link:active .social__svg > * {
  fill: #e6ebe9;
}

.social__svg {
  opacity: 0.7;
}
/* SOCIAL */

/* FOOTER-LINKS */

.footer {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}


.footer--divider::before {
  content: "";
  position: absolute;
  top: -3px;

  width: calc(100% - 54px);
  height: 1px;

  background: rgba(255, 255, 255, 0.3);
}

.footer-links {
  display: flex;
  width: 350px;
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.footer-links__link {
  position: relative;
}

.footer-links__item {
  margin-bottom: 3px;
}

.footer-links__link--heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;

  width: 23px;
  height: 13px;

  background: url(../img/svg/heart.svg) no-repeat 0 0;
}

.footer-links__column {
  margin: 0;
  padding: 0;
  padding-left: 30px;

  list-style: none;
}

.footer-links__column:first-child {
  padding-left: 25px;
}

.footer-links__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links__link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-links__link--heart {
  font-weight: 700;
}
/* FOOTER-LINKS */

/* COPYRIGHT */
.copyright__title {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright-logo {
  display: block;
  margin-bottom: 0;
  margin-left: 2px;
}

.copyright-logo__img {
  width: 108px;
  height: 39px;
}

.copyright__link {
  color: #fefefe;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright__link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/* COPYRIGHT */

/* FEEDBACK */

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

.modal__overlay--show {
  display: block;

  animation: show 0.6s;
}

.feedback {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 100;

  display: none;
  box-sizing: border-box;
  max-width: 477px;
  padding: 19px 22px 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translateX(-50%);
}

.feedback--show {
  display: block;

  animation: show 0.6s;
}

.feedback--error {
  animation: error 0.6s;
}

.feedback--error .feedback__input--textarea {
  animation: error-input 0.6s;
}

.feedback__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback__close {
  position: absolute;
  top: 15px;
  right: 17px;

  width: 18px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/svg/cross-big.svg);
  border: none;
  cursor: pointer;
}

.feedback__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 13px 7px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback__input--textarea {
  height: 155px;
  margin-bottom: 25px;

  resize: vertical;
}

.feedback__input--error {
  border-color: #ff0000;
}

.feedback__input:hover {
  padding: 5px 12px 6px 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback__input:focus {
  padding: 5px 12px 6px 13px;

  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.feedback__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.feedback__btn {
  float: right;
  padding: 12px 25px;

  font-size: 18px;
  line-height: 24px;
}
/* FEEDBACK */

/* BREADCRUMBS */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  padding-right: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs__item::after {
  content: "»";
  position: relative;
  right: -7px;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs__link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/* BREADCRUMBS */

.title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/* FILTER */
.filter {
  margin-bottom: 40px;
}

.filter__fieldset {
  margin: 0;
  margin-right: 14px;
  padding: 0;

  border: none;
}

.filter__fieldset:last-of-type {
  margin-top: 17px;
  margin-right: 16px;
}

.filter__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter__title {
  display: block;
  margin-bottom: 8px;
  margin-left: 17px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter__list {
  position: relative;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 34px;
  margin: 0;
  padding: 8px;
  padding-right: 14px;

  list-style: none;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.filter__list--sort {
  width: 193px;
  padding: 7px 30px 7px 14px;
  overflow: hidden;

  background-image: url(../img/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 168px center;
  background-size: 10px 15px;
  border-color: transparent;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter__list--sort::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

.filter__list--sort:hover {
  color: #323232;
}

.filter__label {
  position: relative;

  margin-right: 12px;
  padding-left: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  cursor: pointer;
}

.filter__item:last-child .filter__label {
  margin-right: 0;
}

input[name=filter-fat] + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;

  width: 22px;
  height: 22px;

  background-color: inherit;
  background-image: url(../img/svg/radio-off.svg);
  background-size: 22px;
  opacity: 0.8;
}

input[name=filter-fat]:disabled + label::before {
  opacity: 0.4;
}

input[name=filter-fat]:checked + label::before {
  background-image: url(../img/svg/radio-on.svg);
  opacity: 1;
}

input[name=filter-fillers] + label {
  margin-right: 16px;
}

input[name=filter-fillers] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url(../img/svg/checkbox-off.svg);
  background-size: 20px;
  opacity: 0.8;
}

input[name=filter-fillers]:disabled + label::before {
  opacity: 0.4;
}

input[name=filter-fillers]:checked + label::before {
  width: 24px;
  height: 20px;

  background-image: url(../img/svg/checkbox-on.svg);
  background-size: 24px;
  opacity: 1;
}

.filter__btn {
  align-self: flex-end;
  padding: 7px 29px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.filter__btn:hover,
.filter__btn:active {
  color: #323232;

  background-color: #ffffff;
}

.filter__btn:active {
  padding: 9px 31px;

  background-color: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.filter__scale {
  position: absolute;
  top: 50%;
  left: 23px;

  box-sizing: border-box;
  width: calc(100% - 45px);
  height: 4px;

  background-color: rgba(254, 254, 254, 0.5);
  transform: translateY(-50%);
}

.filter__bar {
  position: relative;
  left: 13%;

  box-sizing: border-box;
  width: 60%;
  height: 4px;

  background-color: white;
}

.filter__toggle {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  background-image: url(../img/svg/filter-button.svg);
  background-repeat: no-repeat;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filter__toggle:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.filter__toggle--min {
  left: 13%;
}

.filter__toggle--max {
  left: 70%;
}

/* FILTER */

/* PAGINATION */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  margin-right: -10px;
  margin-bottom: 33px;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.pagination__link {
  display: inline-block;
  width: 17px;
  height: 21px;
  margin-right: 2px;
  margin-left: 1px;
  padding: 5px 5px 0;

  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  border: 0;
  border-radius: 50%;
}

.pagination__link:hover {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pagination__link:active,
.pagination__link--active,
.pagination__link--active:hover {
  color: #323232;

  background-color: #ffffff;
}

.pagination__link--arrow-next {
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__link--arrow-prev {
  background-image: url(../img/svg/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.pagination__link--disabled {
  cursor: default;
  opacity: 0.2;

  pointer-events: none;
}
/* PAGINATION */


.site-wrapper {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/png/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/png/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/png/slider-3.png");
}

.site-wrapper--not-index {
  content: none;

  background-color: #849d8f;
  background-image: none;
}

.site-wrapper--not-index > .header {
  margin-bottom: 21px;
}

.site-wrapper--not-index::before,
.site-wrapper--not-index::after {
  content: none;

  background-image: none;
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 315px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 27px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/png/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/png/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/png/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
